name: Build LSPosed APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Download apktool.jar
        run: |
          curl -L -o apktool.jar https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.9.3.jar

      - name: Build APK
        run: |
          java -jar apktool.jar b . -r -o Eskukap_LSPosed.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Eskukap_LSPosed
          path: Eskukap_LSPosed.apk
