name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Download apktool
        run: |
          wget https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.9.3.jar -O apktool.jar

      - name: Build APK
        run: |
          java -jar apktool.jar b . -o Eskukap_fixed.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Eskukap_fixed
          path: Eskukap_fixed.apk
