name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - run: |
          wget https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.10.0.jar -O apktool.jar
          java -jar apktool.jar b Eskukap_smali_project -o Eskukap_fixed.apk

      - uses: actions/upload-artifact@v4
        with:
          name: Eskukap_fixed
          path: Eskukap_fixed.apk
